<main>
    <div id="dashboard">
        <app-dashboard-item imagePath="status.png" imageAlt="A signal symbol" title="Server Status">
            <app-server-status />
        </app-dashboard-item>

        <app-dashboard-item imagePath="globe.png" imageAlt="A globe" title="Traffic">
            <app-traffic-info />
        </app-dashboard-item>

        <app-dashboard-item imagePath="list.png" imageAlt="A list of items" title="Support Tickets">
            <app-tickets />
        </app-dashboard-item>
    </div>
</main>