<app-header />
<main>
    <ul id="users">
        <li>
            <app-user [user]="users[0]" (userSelected)="onSelectUser($event)" />
        </li>
        <li>
            <app-user [user]="users[1]" (userSelected)="onSelectUser($event)" />
        </li>
        <li>
            <app-user [user]="users[2]" (userSelected)="onSelectUser($event)" />
        </li>
        <li>
            <app-user [user]="users[3]" (userSelected)="onSelectUser($event)" />
        </li>
        <li>
            <app-user [user]="users[4]" (userSelected)="onSelectUser($event)" />
        </li>
        <li>
            <app-user [user]="users[5]" (userSelected)="onSelectUser($event)" />
        </li>
    </ul>

    <app-tasks [userName]="findUserName?.name" />
</main>